* text=auto

*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.hsp -text linguist-language=hsp3
*.as -text linguist-language=hsp3
*.hs -text linguist-language=hdl

# <https://github.com/github/linguist#vendored-code>
language-hsp3       linguist-vendored
