* text=auto

*.bat   text eol=crlf
*.cmd   text eol=crlf
*.ps1   text eol=crlf

*.hsp   linguist-language=hsp3
*.as    linguist-language=hsp3
*.hs    linguist-language=hdl

# <https://github.com/github/linguist#vendored-code>
hspsdk/             linguist-vendored

# vendor/ に移動済み
language-hsp3/      linguist-vendored
