# 一般的な除外設定
node_modules/
~*
*.log
*.vsix



# HSP3の一時ファイル
*.ax
hsptmp
obj
packfile



# プロジェクト固有の除外項目
src/
target/
dist/*.js.map
dist/*.md
*.ps1
tsconfig.json
webpack.config.js



# 以前は使っていたがいまは使っていない
out/
